//*? HERO SECTION =====================================================
.hero {
    background-color: nth($list: $colors, $n: 1);
    padding: 10px;
    padding-top: 140px;
    height: 800px;
    text-align: center;
    background-image: url(../img/IA-radio-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        @include font(nth($list: $fonts, $n: 2), 75px, bold, 0.9);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    p {
        @include font(nth($list: $fonts, $n: 1), 30px, bold, 1);
        text-align: center;
        color: nth($list: $colors, $n: 2)
    }
}

//*? PROYECT SECTION ========================================================

.proyecto {
    text-align: center;
    padding: 60px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 80px;
    margin-right: 80px;
    margin: 50px;
    margin-top: 80px;

    h2 {
        @extend %tittle;
        color: nth($list: $colors, $n: 2);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        @extend %text;
        color: nth($list: $colors, $n: 2);
    }
}

//*? DJ IA SECTION ===========================================================

.dj-ia {
    padding: 60px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;

    h2 {
        @extend %tittle;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        @extend %text;
        color: nth($list: $colors, $n: 2);
        margin-bottom: 60px;
    }

    .ia-generative-dj {
        img {
            margin-bottom: 20px;
        }
    }

    .card {
        background-color: nth($list: $colors, $n: 4);

        .card-body {
            padding: 14px !important;
            .card-text {
                @include font(nth($list: $fonts, $n: 1), 17px !important, 200, 1);
            }
        }
    }

    h3 {
        @include font(nth($list: $fonts, $n: 1), 30px, 500, 1);
        margin-top: 40px;
    }

    a {
        .bi.bi-instagram {
            font-size: 60px;
        }
    }
}

//*? RADIO SECTION ==========================================================

.radio-section {
    text-align: center;
    padding: 60px 10px;

    h2 {
        @include font(nth($list: $fonts, $n: 1), 45px, 670, 1);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .radio-container {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        gap: 10px;

        .radio-item {
            width: 100%;
            margin: 7px;

            .placeholder-image {
                width: 100%;
                height: 200px;
                background-color: nth($list: $colors, $n: 2);
                margin-bottom: 20px;
                border-radius: 10px;
            }

            h3 {
                @include font(nth($list: $fonts, $n: 1), 25px, 670, 1);
                color: nth($list: $colors, $n: 2);
                margin-bottom: 10px;
            }

            p {
                @include font(nth($list: $fonts, $n: 1), 18px, 200, 1);
                color: nth($list: $colors, $n: 2);
                margin-bottom: 60px;
            }
        }
    }
}

//*? ACERCA DE ===============================================================

.about-text {
    margin: 250px 100px;
    text-align: center;

    h2 {
        @include font(nth($list: $fonts, $n: 1), 45px, 670, 1);
        color: nth($list: $colors, $n: 2);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        @include font(nth($list: $fonts, $n: 1), 20px, 60, 1);
        color: nth($list: $colors, $n: 2);
        margin-bottom: 60px;
    }
}

//*? CONTACTANOS ============================================================

.contact-title {
    margin-bottom: 25px !important;

    h2 {
        @include font(nth($list: $fonts, $n: 1), 40px, 670, 1);
        color: nth($list: $colors, $n: 2);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        @include font(nth($list: $fonts, $n: 1), 17px, 670, 1.2);
        color: nth($list: $colors, $n: 2);
        margin-right: 20px;
    }
}